@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #02021f;
  --foreground: #171717;
  --font-sans: 'Byzantin', sans-serif;
  --font-sentient: 'Sentient', serif;
  --font-merriweather: 'Merriweather', serif;
}

@font-face {
  font-family: 'Byzantin';
  src: url('/fonts/BYZANTIN.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sentient';
  src: url('/fonts/Sentient-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dutch Mediaeval';
  src: url('/fonts/Dutch Mediaeval W01 Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sentient';
  src: url('/fonts/Sentient-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-body: var(--font-sentient); 
  --font-dutch: var(--font-merriweather);
}


@layer components{
  .underline-custom {
  position: relative; 
  display: inline-block;
}
  .underline-custom::after {
  content: '';
  position: absolute;
  bottom: 0;               /* align at bottom of text */
  left: 20%;               /* start at 20% of the text width */
  width: 90%;              /* span 60% of the text width */
  height: 2px;             /* thickness of underline */
  background-color: black;   /* underline color */
}

}
@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0)
  }
}
  .block {
    animation: appear linear;
    animation-timeline: view();
    
  }
html {
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;
  background: #000000;
}


@layer base {
  h3, h4, h5, h6, p, a, span, div {
    @apply font-body;
  }
  h1, h2 {
    @apply font-[Byzantin]
  }

}
