name: Check
on: 
  push:
    branches:
      - main
jobs:
  build:
    runs-on:
      labels: [self-hosted, foisor, "${{ github.actor }}"]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
      - run: npm install
      - run: npm run build
